.row-container {
  /* background: red; */
  /* border: 2px solid #000; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: auto;
}

.row-content {
  /* background: teal; */
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  padding: 15px 20px;
  /* border-radius: 5px; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.row-content span {
  font-size: 10px;
}
.green {
  background: #2ecc71;
  color: #ffff;
}
.red {
  background: #dc3545;
  color: #ffff;
}
.yellow {
  background: #ffc107;
  color: #ffff;
}
.orange {
  background: #fd7e14;
  color: #ffff;
}
.pad-10 {
  padding: 4px 8px;
  border-radius: 4px;
}

.deadline {
  font-size: 12px;
  column-gap: 8px;
}
.tag {
  background: #083667;
  color: #ffff;
}
.task {
  padding: 8px 0 !important;
  font-size: 14px !important;
}
