@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  min-width: 100%;
  min-height: 100vh;
  position: relative;

  background: #2ecc7004;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.m-0-60 {
  margin: 0 60px;
}
